body {
    background-color: #FFEBE7;
    font-family: Nunito;
    color: #000000;
    font-size: 17px;
}

h1, h2, h3 {
    font-family: Courier;
}
h1 {
    color: #FF82A9;
    font-family: Nunito;
    font-size: 40px;
    font-weight: bolder;
}
h2 {
    color: #7F95D1;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
}
P {
    color: black;
    font-family: Nunito;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: rgb(255, 11, 85);
}
a:hover {
    color: #000000;
}

/* Custom desgin with class */

.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 400px;
    }
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.btn-blue {
    background-color: rgb(255, 11, 85);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: #FF82A9;
    color: white;
}

.list-inline {
    list-style: none;
    padding: 0;
    text-align: center;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 50px;
}

#introduction p {
    margin-bottom: 40px;
}